<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Driver Workflow Suite">
  <test name="Driver Workflow">
    <classes>
      <class name="Tests.DriverWorkflow">
        <methods>
          <include name="afterTest"/>
          <include name="setUp"/>
          <include name="Login"/>
        </methods>
      </class> 
    </classes>
  </test> 
</suite> 
